<!DOCTYPE html>
<html lang="EN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <title>URL Info</title>
</head>
<body>
<div class="container">
    <h2>Generated link:</h2>
    <p th:text="'shrt-nr.herokuapp.com/'+${urlGen}"></p>
    <p>
        <a th:href="@{/{id}/info(id=${urlGen})}">
            Generated link statistics.
        </a>
    </p>
    <a href="/">Home</a>
</div>
</body>
</html>