<!DOCTYPE html>
<html lang="EN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <title>Shrt-nr: Login failed!</title>
</head>
<body>
    <header class="main-header">
        <h1>Login:</h1>
        <div class="error">
            <p th:text="${errorMessage}">
        </div>
        <form method="POST" th:action="@{/login}">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" required
                   minlength="4" size="20">
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button>Login</button>
        </form>
    </header>
    <p>
        <a href="/">Home</a>
    </p>
</body>
</html>